.container {
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.leftBlock {
    width: 622px;
    height: 438px;
    margin: 0 34px;
}
.leftBlock img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}
.description {
    font-size: 1.2rem;
    margin-top: 50px;;
}
.rightBlock {
    font-size: 1.2rem;
    font-weight: 600;
}


@media screen and (max-width: 720px) {
    .container {
        flex-direction: column;
        width: 100%;
    }
    .leftBlock {
        width: auto;
        height: auto;
    }
    .rightBlock {
        padding: 30px 0 60px 2.5rem;
    }
}