.leftMenu {
    width: 312px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.fixedMenu {
    position: fixed;
    margin-left: 20px;
    z-index: 101;
}

@media screen and (max-width: 720px) {
    .leftMenu {
        width: 312px;
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
    }
    .fixedMenu {
        position: fixed;
        margin-left: 0;
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        margin-top: -16px;
        background-color: #941824;
        box-shadow: 0px 10px 9px 0px;
    }
}
